<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>mCubed Admin</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- Header section -->
    <header>
        <nav id="navbar-container">
            <!-- Navbar will be inserted here -->
        </nav>
    </header>

    <!-- Main content section -->
    <main class="admin-main">
        <h1 class="admin-title">Admin Dashboard</h1>
        <div class="admin-section">
                <!-- Display checkout tables section -->
            <div id="admin-products-container">
                    <!-- Checkout tables will be displayed here -->
            </div>
        </div>
    </main>

    <footer>
        <div id="footer-container">
            <!-- Footer will be inserted here -->
        </div>
    </footer>

    <script src="../js/userFuncs.js" type="text/javascript"></script>
    <script src="../js/adminFuncs.js" type="text/javascript"></script>
</body>

</html>